---
---

@import "{{ site.theme }}";

header {
	font-size: 1.4em;
	margin-bottom: 2em;
}

header a:link,
header a:visited,
header a:hover,
header a:active {
	text-decoration: none;
	color: #24292e;
	font-weight: bold;
}

blockquote {
	font-family: monospace;
	color: #fff !important;
	background: #000;
	padding-top: .5em !important;
	padding-bottom: .5em !important;
	border-radius: 0.2em;
	border: 0 !important;
}
